**/.git/**
**/node_modules/**
**/.venv/**
**/__pycache__/**
**/.pytest_cache/**
**/.ruff_cache/**
**/dist/**
**/build/**
**/coverage/**
**/generated/**
**/vendor/**
**/*.min.js
**/*.min.css
**/*.bundle.js
**/src/viper/web/static/**
**/worker-configuration.d.ts
**/*.tsbuildinfo
**/package-lock.json
**/npm-shrinkwrap.json
**/yarn.lock
**/pnpm-lock.yaml
**/*.lock
**/*.sum
**/.terraform.lock.hcl
**/fixtures/**
**/testdata/**
**/fixture.*
**/fixtures.*
**/LICENSE*
**/COPYING*
**/NOTICE*
**/THIRD_PARTY*
